.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 130px;
    padding: 20px;
    z-index: 1000;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.header__title {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
}

.header__title-image {
    width: 48px;
    height: 48px;
}

.header__title-text {
    font-size: 32px;
}

.header__desctiption {
    font-size: 18px;
}

.header-placeholder {
    height: 130px;
}

@media screen and (min-width: 768px) and (max-width: 1351px) {
    .header {
        height: 110px;
    }
    
    .header-placeholder {
        height: 110px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        height: 71px;
    }
    
    .header-placeholder {
        height: 71px;
    }
}