.help-solution-deeplinks__decorations-elipses-1{
    top: 13px;
    left: -376px;
    
    width: 1321px;
    transform: rotate(18deg);
}

.help-solution-deeplinks__decorations-elipses-2 {
    top: -566px;
    left: 314px;
    
    width: 1458px;
    transform: rotate(-5deg);
}
