.help-solution-block {
    margin-bottom: 146px;
}

.help-solution-block__content {
    margin-bottom: 74px ;

    display: flex; 
}

.help-solution-block__content-title {
    width: 50%;
    font-size: 36px;
    font-weight: 900;
    line-height: 130%;
    color: #2c2c2c;
}

.help-solution-block__content-text {
    padding-left: 45px;
    
    width: 50%;
    font-weight: 400;
    line-height: 150%;
}

.help-solution-block__decorarions {
    position: relative;

    width: 1272px;
    height: 674px;
    background-color: #232323;
    border-radius: 30px;
    overflow: hidden;
}

.help-solution-block__decorations-phone {
    position: absolute;
    z-index: 200;
}

.help-solution-block__decorations-phone-1 {
    top: 0;
    left: 97px;
}

.help-solution-block__decorations-phone-2 {
    right: 97px;
    bottom: -10px;
}

.help-solution-block__decorations-elipses {
    position: absolute;
    top: -356px;
    left: -140px;
    
    width: 1648px;
    transform: rotate(-46deg);
}

.help-solution-block__decorations-elipses svg {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1351px) {
    .help-solution-block {
        margin-bottom: 97px;
    }

    /* CONTENTS */

    .help-solution-block__content {
        flex-direction: column;

        margin-bottom: 50px;
    }

    .help-solution-block__content-title {
        width: unset;
        margin-bottom: 12px;
    }
    
    .help-solution-block__content-title br{
        display: none;
    }

    .help-solution-block__content-text {
        width: unset;
        padding-left: 0px;
        font-size: 22px;
    }

    /* DECORATIONS */

    .help-solution-block__decorarions {
        width: 100%;
        height: 44.27vw;

        border-radius: 16px;
    }

    .help-solution-block__decorations-phone {
        width: 35.1vw;
    }

    .help-solution-block__decorations-phone-1 {
        left: 47px;
    }

    .help-solution-block__decorations-phone-2 {
        right: 55px;
        bottom: -5px;
    }

    .help-solution-block__decorations-elipses {
        width: 105.6vw;
        top: -50%;
        left: -10%;
    }
}

@media screen and (max-width: 768px) {
    .help-solution-block {
        margin-bottom: 60px;
    }

    /* CONTENTS */

    .help-solution-block__content {
        flex-direction: column;

        margin-bottom: 40px;
    }

    .help-solution-block__content-title {
        font-size:  20px;

        margin-bottom: 22px;
    }

    .help-solution-block__content-text {
        font-size: 16px;
    }

    /* DECORATIONS */

    .help-solution-block__decorarions {
        width: 100vw;
        height: 89vw;

        margin-left: -25px;
        border-radius: 0px;
    }

    .help-solution-block__decorations-phone {
        width: 42.19vw;
    }

    .help-solution-block__decorations-phone-1 {
        left: 7.8vw;
        top: 26.56vw;
    }

    .help-solution-block__decorations-phone-2 {
        right: 7.8vw;
        bottom: 22.19vw;
    }

    .help-solution-block__decorations-elipses {
        width: 203vw;
        top: -47.35%;
        left: -25%;
    }
}