.help-extra-features {
    position: relative;
    height: 1053px;
    padding-top: 0;
}

.help-extra-features__title {
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    color: #2c2c2c;
    font-weight: 900;
    margin-left: 15px;
}

/* LIST */

.help-extra-features__list-item {
    display: flex;
    align-items: center;
    position: absolute;
    line-height: 130%;
    width: 360px;
    height: 154px;
    color: #000;
    background: linear-gradient(92.19deg, hsla(27, 97%, 88%, .071) 1.34%, hsla(4, 100%, 79%, .071) 99.18%);
    box-shadow: inset .7303045455em -.7303045455em .7303045455em hsla(12, 34%, 63%, .071), inset -.7303045455em .7303045455em .7303045455em hsla(0, 0%, 100%, .071);
    backdrop-filter: blur(23.2967px);
    border-radius: .6818181818em;
    padding-left: 35px;
}

.help-extra-features__list-item-inner {
    display: flex;
}

.help-extra-features__list-item-mark svg {
    width: 23px;
    height: 23px;
}

.help-extra-features__list-item-mark svg path {
stroke: red;
}
.help-extra-features__list-item-text {
    margin-left: 16px;
    margin-top: -3px;
    font-size: 20px;
    line-height: 130%;
} 

.help-extra-features__list-item-1 {
    top: 173px;
    left: 60px;
}

.help-extra-features__list-item-2 {
    top: 406px;
    left: 5px;
}

.help-extra-features__list-item-3 {
    top: 655px;
    left: 60px;
}

.help-extra-features__list-item-4 {
    top: 173px;
    left: 840px;
}

.help-extra-features__list-item-5 {
    top: 406px;
    left: 883px;
}

.help-extra-features__list-item-6 {
    top: 655px;
    left: 840px;
}

.help-extra-features__list-item-7 {
    top: 833px;
    left: 440px;
}

/* DECORATIONS */

.help-extra-features__decorations-phone {
    position: absolute;
    top: 155px;
    left: 493px;
}

.help-extra-features__decorations-blur {
    position: absolute;
}

.help-extra-features__decorations-blur-1 {
    top: 20px;
    right: 350px;
    width: 500px;
    height: 500px;
    transform:  rotate(110deg);
}

.help-extra-features__decorations-blur-2 {
    top: 440px;
    left: 350px;
    width: 500px;
    height: 500px;
    transform:  rotate(111deg);
}

.help-extra-features__decorations-blur svg {
    width: 100%;
    height: 100%;
}

.help-extra-features__decorations-elipsis {
    top: 59px;
    left: 253px;
    position: absolute;
    width: 783px;
}

.help-extra-features__decorations-elipsis svg {
    width: 100%;
}

.help-extra-features__decorations-elipsis svg path {
    stroke: #000;
}

.help-extra-features__decorations-star {
    position: absolute;
}

.help-extra-features__decorations-star svg {
    width: 100%;
    height: 100%;
}

.help-extra-features__decorations-star svg path{
    fill: #000;
    stroke: #000;
}

.help-extra-features__decorations-star-1 {
    top: 95px;
    right: 144px;
    width: 31px;
    height: 31px;
    transform: rotate(46deg);
}

.help-extra-features__decorations-star-2 {
    top: 350px;
    left: 51px;
    width: 16px;
    height: 16px;
}

.help-extra-features__decorations-star-3 {
    top: 870px;
    left: 302px;
    width: 37px;
    height: 37px;
}

.help-extra-features__decorations-star-4 {
    top: 920px;
    right: 28px;
    width: 44px;
    height: 44px;
    transform: rotate(55deg);
}

@media screen and (max-width: 1351px) {
    .help-extra-features {
        height: 1950px;
    }

    .help-extra-features__title {
        font-size: 42px;
        margin-left: 0;
    }

    .help-extra-features__inner {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }

    .help-extra-features__list  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 60px 0 47px 0;
        margin-top: -44px;
        margin-bottom: 80px;
    }

    .help-extra-features__list-item {
        position: static;
        width: 80%;
        height: 80px;
        padding: 18px;
    }

    .help-extra-features__list-item-text p {
        line-height: 160%;
        margin-top: -.05em;
    }

    .help-extra-features__list-item-text p br {
        display: none;
    }

    .help-extra-features__decorations {
        position: relative;
    }

    .help-extra-features__decorations-phone {
        position: static;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .help-extra-features__decorations-phone-image {
        z-index: 500;
    }

    .help-extra-features__decorations-elipsis {
        top: -90px;
        left: 218px;
        width: 803px;
        transform: rotate(8deg);
    }

    .help-extra-features__decorations-blur-1  {
        top: 230px;
        right: 420px;
        width: 500px;
        height: 500px;
        transform: rotate(120deg);
    }

    .help-extra-features__decorations-blur-2  {
        top: -90px;
        right: 430px;
        width: 500px;
        height: 500px;
        transform: rotate(120deg);
    }

    .help-extra-features__decorations-star-1 {
        top: unset;
        bottom: 70px;
        right: 50px;
        transform: rotate(58deg);
        width: 55px;
        height: 55px;

    }
    
    .help-extra-features__decorations-star-2 {
        top: 480px;
        left: 50px;
        width: 36px;
        height: 36px;
    }
    
    .help-extra-features__decorations-star-3 {
        top: 70px;
        left: 80px;
        width: 26px;
        height: 26px;
    }
    
    .help-extra-features__decorations-star-4 {
        top: 155px;
        right: 80px;
        width: 26px;
        height: 26px;
        transform: rotate(55deg);
    }
}

@media screen and (max-width: 767px) {
    .help-extra-features {
        height: auto;
    }

    .help-extra-features__title {
        font-size: 24px;
    }

    .help-extra-features__list  {
        gap: 25px;
        padding: 60px 0 0 0;
        margin-top: -44px;
        margin-bottom: 0px;
    }

    .help-extra-features__list-item {
        box-sizing: border-box;
        width: 100%;
        height: 100px;
    }

    .help-extra-features__decorations {
        margin: 80px 0 65px 0;
    }

    .help-extra-features__decorations-phone-image {
        width: 160px;


    }

    .help-extra-features__decorations-elipsis {
        top: -275px;
        left: 150px;
        width: 415px;
        transform: rotate(8deg);
    }

    .help-extra-features__decorations-blur-1  {
        top: 32px;
        right: 284px;
        width: 200px;
        transform: rotate(195deg);
    }

    .help-extra-features__decorations-blur-2  {
        top: -200px;
        right: 230px;
        left: unset;
        width: 200px;
        transform: rotate(145deg);
    }

    .help-extra-features__decorations-star-1 {
        bottom: 265px;
        right: 20px;
        width: 22px;
        height: 22px;

    }
    
    .help-extra-features__decorations-star-2 {
        top: 190px;
        left: 30px;
        width: 24px;
    }
    
    .help-extra-features__decorations-star-3 {
        top: -30px;
        left: -4px;
        width: 23px;
    }
    
    .help-extra-features__decorations-star-4 {
        top: 287px;
        right: 4px;
        width: 21px;
    }
} 