.help-solution-qr-code__decorations-elipses-1{
    top: -442px;
    left: -303px;
    
    width: 1000px;
    transform: rotate(-108deg);
}

.help-solution-qr-code__decorations-elipses-2 {
    top: 170px;
    left: 640px;
    
    width: 1000px;
    transform: rotate(70deg);
}
