.help-solution-todo-list {
    margin-bottom: 146px;
}

.help-solution-todo-list__content {
    margin-bottom: 74px ;

    display: flex; 
}

.help-solution-todo-list__content-title {
    width: 50%;
    font-size: 36px;
    font-weight: 900;
    line-height: 130%;
    color: #2c2c2c;
}

.help-solution-todo-list__content-text {
    padding-left: 45px;
    
    width: 50%;
    font-weight: 400;
    line-height: 150%;
}

.help-solution-todo-list__decorarions {
    position: relative;

    width: 1272px;
    height: 674px;
    background-color: #232323;
    border-radius: 30px;
    overflow: hidden;
}

.help-solution-todo-list__decorations-phone {
    position: absolute;
    z-index: 200;
}

.help-solution-todo-list__decorations-phone-1 {
    top: 0;
    left: 97px;
}

.help-solution-todo-list__decorations-phone-2 {
    right: 97px;
    bottom: -10px;
}

.help-solution-todo-list__decorations-elipses {
    position: absolute;
}

.help-solution-todo-list__decorations-elipses-1{
    top: -97px;
    left: -346px;
    
    width: 1001px;
    transform: rotate(51deg);
}

.help-solution-todo-list__decorations-elipses-2 {
    top: -50px;
    left: 407px;
    
    width: 1050px;
    transform: rotate(100deg);
}

.help-solution-todo-list__decorations-elipses svg {
    width: 100%;
    height: 100%;
}
