.help-solution-todo-list__decorations-elipses-1{
    top: -97px;
    left: -346px;
    
    width: 1001px;
    transform: rotate(51deg);
}

.help-solution-todo-list__decorations-elipses-2 {
    top: -50px;
    left: 407px;
    
    width: 1050px;
    transform: rotate(100deg);
}
