.help-solution-todo-list__decorations-elipses-1{
    top: -97px;
    left: -346px;
    
    width: 1001px;
    transform: rotate(51deg);
}

.help-solution-todo-list__decorations-elipses-2 {
    top: -50px;
    left: 407px;
    
    width: 1050px;
    transform: rotate(100deg);
}

@media screen and (max-width: 1351px) {
    .help-solution-todo-list__decorations-elipses-1{
        width: 71.1vw;
        top: -5%;
        left: -12%;

        transform: rotate(96deg);
    }

    .help-solution-todo-list__decorations-elipses-2 {
        width: 71.1vw;
        top: -5%;
        left: unset;
        right: -12%;
        transform: rotate(96deg);
    }
}

@media screen and (max-width: 767px) {
    .help-solution-todo-list__decorations-elipses-1{
        width: 1001px;
        top: -97px;
        left: -356px;

        transform: rotate(51deg);
    }

    .help-solution-todo-list__decorations-elipses-2 {
        width: 120.6vw;
        top: -30%;
        left: unset;
        right: -43.75%;

        transform: rotate(10deg);
    }
}