.help-solution__inner {
    margin: auto;
    
    max-width: 1272px;
}

.help-solution__title {
    margin-bottom: 80px;

    padding-top: 71px;
    font-size: 45px;
    font-weight: 900;
    line-height: 130%;
    text-align: center;
}