.help-solution-dev-case__decorations-phone-1 {
    top: 0;
    left: 97px;
}

.help-solution-dev-case__decorations-phone-2 {
    right: 5px;
    bottom: 0   ;
}

.help-solution-dev-case__decorations-elipses {
    position: absolute;
    top: -356px;
    left: -140px;
    
    width: 1648px;
    transform: rotate(-46deg);
}
