.help-service-work {
    max-width: 1920px;
}

.help-service-work__top-round-edge {
    margin-top: -115px;
    margin-left: -700px;
    // z-index: 900;
    overflow: hidden;
}

.help-service-work__inner {
    position: relative;
    display: flex;
    justify-content: end;
    margin: auto;

    max-width: 1272px;
}

.help-service-work__decorations-phone {
    position: absolute;
    top: -27px;
    left: 95px;
    z-index: 400
}

.help-service-work__decorations-ellipses {
    position: absolute;
    top: 26px;
    left: -56px;
    z-index: 200;
}

.help-service-work__decorations-ellipses svg {
    width: 724px;
    height: 724px;
}


.help-service-work__decorations-blur {
    position: absolute;
    top: 100px;
    left: -20px;
    z-index: 100;
}

.help-service-work__decorations-star {
    position: absolute;
    top: 70px;
    left: 15px;
    z-index: 300;
}

.help-service-work__decorations-star path {
    fill: #000000;
}

.help-service-work__content {
    padding: 182px 0px 150px 0px;
    max-width: 507px;

}

.help-service-work__title {
    margin-bottom: 1.022em;

    font-size: 45px;
    font-weight: 900;
    line-height: 130%;
    color: #2c2c2c;
}

.help-service-work__item {
    display: flex;
}

.help-service-work__item svg {
    width: 23px;
    height: 22px;

    margin-right: 15px;
}

.help-service-work__item:not(:last-child) {
    margin-bottom: 43px;
}