.help-solution-profiles__decorations-elipses-1{
    top: -431px;
    left: -240px;

    width: 2000px;
    transform: rotate(-42deg);
}

@media screen and (min-width: 768px) and (max-width: 1351px) {
    .help-solution-profiles__decorations-elipses-1{
        width: 124vw;
        top: -65%;
        left: -15%;
    }
}

@media screen and (max-width: 767px) {
    .help-solution-profiles__decorations-elipses-1{
        width: 200.31vw;
        top: -32.5%;
        left: -34.38%;
    }
}