.help-filter__upper {
    display: flex;

    margin-bottom: 46px;
}

.help-filter__upper-title {
    width: 50%;
    font-size: 36px;
    font-weight: 900;
    line-height: 130%;
    color: #2c2c2c;
}

.help-filter__upper-text {
    padding-left: 45px;
    
    width: 50%;
    font-weight: 400;
    line-height: 150%;
}

.help-filter__lower {
    display: flex;
}

/* DECORATIONS */

.help-filter__lower-decoreations {
    position: relative;
    width: 50%;
}

.help-filter__decorations-blur {
    position:absolute;
    left: -32px;
    top: -10px;
}

.help-filter__decorations-star {
    position:absolute;
}

.help-filter__decorations-star path {
    fill: #000;
}

.help-filter__decorations-star-1 {
    top: 156px;
    left: 550px;
}

.help-filter__decorations-star-2 {
    top: 544px;
    left: 50px;
}

.help-filter__decorations-ellipses {
    position:absolute;
    left: -70px;
    top: -55px;
}

.help-filter__decorations-ellipses > svg {
    width: 724px;
    height: 724px;
}

.help-filter__decorations-phone {
    position: relative;
    top: -80px;
    left: 11px;
}

/* LIST */

.help-filter__lower-list {
    display: flex;
    flex-direction: column;
    padding-left: 105px;
    gap: 48px;
}

.help-filter__lower-item {
    display: flex;
}

.help-filter__lower-item-text {
    margin-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1351px) {
    .help-filter {
        margin-bottom: 100px;
    }

    .help-filter__upper {
        margin-bottom: 0;
    }

    .help-filter__upper-title {
        font-size: 36px;
        max-width: 100%;
        margin-bottom: 18px;
    }

    .help-filter__lower {
        flex-direction: column-reverse;
    }

    .help-filter__lower-list {
        padding: 28px 0 30px 0;
        gap: 23px;
    }

    .help-filter__lower-item-text {
        font-size: 20px;
    }

    .help-filter__lower-item-text br {
        display: none;
    }

    .help-filter__lower-decoreations {
        align-self: center;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .help-filter__decorations-phone {
        position: static;
        width: 56.64vw;
        max-width: 530px;
        z-index: 500;
    }

    .help-filter__decorations-ellipses {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 74.74vw;
        top: 5vw;
        left: 3.3vw;
    }

    .help-filter__decorations-blur {
        top: 6.5vw;
        left: 7.55vw;
        width: 58.59vw;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .help-filter__decorations-star-1 {
        top: 3vw;
        left: unset;
        right: 6.5vw;

    }

    .help-filter__decorations-star-1 svg {
        width: 60px;
    }
}