@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/gothampro.woff2") format('woff2');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/gothampro_black.woff2") format('woff2');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-style: italic;
    src: url("../../fonts/gothampro_blackitalic.woff2") format('woff2');
}